.profile {
	@include make-sm-column(12);
	@include make-lg-column(3);
	text-align: center;
}

.profile__img {
	border-radius: 100%;
}

.profile__title {
	margin: 0;
}

.profile__social-links {
	margin: 10px 0;

	.profile__social-link {
		color: #000;
		margin-right: 15px;
	}

	.profile__social-link:last-child {
		margin-right: 0;
	}
}

.profile__skills-wrap {
	margin: 38px 0;
	//text-align: left;
}

.profile__skills-header {
	font-weight: bold;
}

.profile__skills-primary,
.profile__skills-secondary {
	margin: 0;
	padding: 0;

	.profile__skills-name {
		display: inline-block;
		margin: 0 5px;
		padding: 0;
		list-style: none;
	}
}