.projects {
	@include make-row();
}

.projects__project {
	@include make-xs-column(12);
	@include make-sm-column(4);

	margin-bottom: 29px;
	position: relative;
	text-align: center;

	.img-responsive {
		display: inline-block;
	}

	@media (min-width: 768px) {
		display: block;
	}

	&:hover {
		cursor: pointer;
		filter: grayscale(100%);
	}

	.projects__project-link {
		&:visited,
		&:active,
		&:hover {
			color: #000;
			text-decoration: none;
		}
	}
}

