.profile {
	@include make-lg-column(3);
	text-align: center;
}

.profile__img {
	border-radius: 100%;
}

.profile__title {
	margin: 0;
}

.profile__social-links {
	margin: 10px 0;

	.profile__social-link {
		color: #000;
		margin-right: 15px;
	}

	.profile__social-link:last-child {
		margin-right: 0;
	}
}

.profile__bio {
	text-align: left;
}
